<div class="slider__container">
    <div class="slider__container--wavy">
        <div class="slider__container--wavy-element slider__container--wavy-element-1 convex"></div>
        <div class="slider__container--wavy-element slider__container--wavy-element-2">
            <div class="concave"></div>
        </div>
        <div class="slider__container--wavy-element slider__container--wavy-element-3 convex"></div>
        <div class="slider__container--wavy-element slider__container--wavy-element-4">
            <div class="concave"></div>
        </div>
    </div>
    <div class="slider__container--nav">
        <div class="slider__container--nav-arrow slider__container--nav-UpRightArrow"
        (click)="moveUp()">
            <i class="far fa-arrow-alt-circle-up fa-7x"></i>
        </div>
        <div class="slider__container--nav-dots">
            <div class="slider__container--nav-dots-dot-highlighted" 
            [@componentChanged] = "componentActiveName"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot1"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot2"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot3"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot4"></div>
        </div>
        <div class="slider__container--nav-arrow slider__container--nav-DownLeftArrow"
        (click)="moveDown()">
                <i class="far fa-arrow-alt-circle-down fa-7x" [ngStyle]="{'color': formValidity ? 'goldenrod' : 'white'}"
                style="cursor: pointer; color: goldenrod !important"></i>
        </div>
    </div>
</div>