<div class="slider__container">
    <div class="slider__container--wavy">
        <div class="slider__container--wavy-element slider__container--wavy-element-1 convex"></div>
        <div class="slider__container--wavy-element slider__container--wavy-element-2">
            <div class="concave"></div>
        </div>
        <div class="slider__container--wavy-element slider__container--wavy-element-3 convex"></div>
        <div class="slider__container--wavy-element slider__container--wavy-element-4">
            <div class="concave"></div>
        </div>
    </div>
    <div class="slider__container--nav">
        <div class="slider__container--nav-arrow slider__container--nav-UpRightArrow">
            <i class="fa fa-arrow-alt-circle-up"></i>
        </div>
        <div class="slider__container--nav-dots">
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot1"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot2"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot3"></div>
            <div class="slider__container--nav-dots-dot slider__container--nav-dots-dot4"></div>
        </div>
        <div class="slider__container--nav-arrow slider__container--nav-DownLeftArrow">
                <i class="far fa-arrow-alt-circle-down"></i>
        </div>
    </div>
</div>