<h2>Basic Details</h2>
<form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="form__group form__group--name">
    <div class="form__control form__first-name">
      <input
        type="text"
        name="Fname"
        required
        formControlName="firstName"
      />
      <label>First Name</label>
      <span
        *ngIf="
          (!signUpForm.get('firstName').valid &&
            signUpForm.get('firstName').touched) ||
          (!formValid &&
            !signUpForm.get('firstName').valid &&
            statusArr[0] === 'INVALID')
        "
        class="error-block"
        >{{ invalidMessages[0] }}</span
      >
    </div>
    <div class="form__control form__last-name">
      <input type="text" name="Lname" required formControlName="lastName" />
      <label>Last Name</label>
      <span
        *ngIf="
          (!signUpForm.get('lastName').valid &&
            signUpForm.get('lastName').touched) ||
          (!formValid &&
            !signUpForm.get('lastName').valid &&
            statusArr[4] === 'INVALID')
        "
        class="error-block"
        >{{ invalidMessages[4] }}</span
      >
    </div>
  </div>
  <div class="form__group form__group--id">
    <div class="form__control form__email">
      <input
        type="text"
        name="email"
        required
        formControlName="email"
        class="email"
      />
      <label>Email ID</label>
      <i
        class="fa fa-check fa-lg input__valid"
        *ngIf="signUpForm.get('email').valid && signUpForm.get('email').touched"
      ></i>
      <i
        class="fa fa-times fa-lg input__invalid"
        *ngIf="
          !signUpForm.get('email').valid && signUpForm.get('email').touched
        "
      ></i>
      <span
        *ngIf="
          (!signUpForm.get('email').valid && signUpForm.get('email').touched) ||
          (!formValid &&
            !signUpForm.get('email').valid &&
            statusArr[1] === 'INVALID')
        "
        class="error-block"
        >{{ invalidMessages[1] }}</span
      >
    </div>
    <div class="form__control form__ID">
      <input
        type="text"
        name="ID"
        required
        formControlName="id"
        class="ID"
        (blur)="getColor()"
      />
      <label>Your User ID</label>
      <i class="fa fa-lock fa-lg" [ngStyle]="{ color: IDColor }"></i>
      <span
        *ngIf="
          (!signUpForm.get('id').valid && signUpForm.get('id').touched) ||
          (!formValid &&
            !signUpForm.get('id').valid &&
            statusArr[5] === 'INVALID')
        "
        class="error-block"
        >{{ invalidMessages[5] }}</span
      >
    </div>
  </div>
  <div class="form__group form__group--location form-group">
    <div class="form__control form__country">
      <span>Country</span>
      <select
        class="form-control"
        name="country"
        formControlName="country"
        (change)="onChange()"
      >
        <option [value]="null" disabled>Choose your country</option>
        <option *ngFor="let country of countries" [value]="country.value">{{
          country.value
        }}</option>
      </select>
      <span
        *ngIf="
          !formValid &&
          !signUpForm.get('country').valid &&
          statusArr[2] === 'INVALID'
        "
        class="error-block"
        style="margin-top: 5px"
        >{{ invalidMessages[2] }}</span
      >
    </div>
    <div class="form__control form__location">
      <div
        class="form__location--state"
        [ngSwitch]="this.signUpForm.get('country').value"
      >
        <span>State</span>
        <select name="state" formControlName="state" *ngSwitchCase="'USA'">
          <option [value]="null" disabled>Choose state</option>
          <option *ngFor="let state of statesUSA" [value]="state.value">{{
            state.value
          }}</option>
        </select>
        <select name="state" formControlName="state" *ngSwitchCase="'India'">
          <option [value]="null" disabled>Choose state</option>
          <option *ngFor="let state of statesIndia" [value]="state.value">{{
            state.value
          }}</option>
        </select>
        <select name="state" formControlName="state" *ngSwitchCase="undefined">
          <option [value]="null" disabled>Choose state</option>
        </select>
        <span
          *ngIf="
            !formValid &&
            !signUpForm.get('state').valid &&
            statusArr[6] === 'INVALID'
          "
          class="error-block"
          style="margin-top: 5px"
          >{{ invalidMessages[6] }}</span
        >
      </div>
      <div
        class="form__location--city"
        [ngSwitch]="this.signUpForm.get('state').value"
      >
        <span>City</span>
        <select name="city" formControlName="city" *ngSwitchCase="'New York'">
          <option [value]="null" disabled>Choose city</option>
          <option *ngFor="let city of citiesNY" [value]="city.value">{{
            city.value
          }}</option>
        </select>
        <select name="city" formControlName="city" *ngSwitchCase="'California'">
          <option [value]="null" disabled>Choose city</option>
          <option *ngFor="let city of citiesCali" [value]="city.value">{{
            city.value
          }}</option>
        </select>
        <select
          name="city"
          formControlName="city"
          *ngSwitchCase="'Andhra Pradesh'"
        >
          <option [value]="null" disabled>Choose city</option>
          <option *ngFor="let city of citiesAndhra" [value]="city.value">{{
            city.value
          }}</option>
        </select>
        <select name="city" formControlName="city" *ngSwitchCase="'Goa'">
          <option [value]="null" disabled>Choose city</option>
          <option *ngFor="let city of citiesGoa" [value]="city.value">{{
            city.value
          }}</option>
        </select>
        <select name="city" formControlName="city" *ngSwitchCase="undefined">
          <option [value]="null" disabled>Choose city</option>
        </select>
        <span
          *ngIf="
            !formValid &&
            !signUpForm.get('city').valid &&
            statusArr[7] === 'INVALID'
          "
          class="error-block"
          style="margin-top: 5px"
          >{{ invalidMessages[7] }}</span
        >
      </div>
    </div>
  </div>
  <div class="form__group form__control--data" style="margin-top: 7px">
    <div class="form__control form__phone">
      <input
        type="text"
        name="phone"
        required
        formControlName="phone"
        #phoneInput
        [imask]="{ mask: '+{38}(000)000-00-00' }"
        [unmask]="true"
      />
      <label>Phone Number</label>
      <span
        *ngIf="
          (!signUpForm.get('phone').valid && signUpForm.get('phone').touched) ||
          (!formValid &&
            !signUpForm.get('phone').valid &&
            statusArr[3] === 'INVALID')
        "
        class="error-block"
        >{{ invalidMessages[3] }}</span
      >
    </div>
    <div class="form__control form__code">
      <input
        type="text"
        name="code"
        class="ref-code"
        formControlName="code"
        style="text-transform: uppercase;"
        [ngClass]="{ touched: this.signUpForm.value.code }"
      />
      <label>Reference Code</label>
      <span
        *ngIf="
          (!signUpForm.get('code').valid && signUpForm.get('code').touched) ||
          (!formValid &&
            !signUpForm.get('code').valid &&
            statusArr[8] === 'INVALID')
        "
        class="error-block"
        >{{ invalidMessages[8] }}</span
      >
    </div>
  </div>
  <div class="form__group form__group--buttons">
    <a type="button" (click)="onReset()" class="form__group--buttons-reset"
      >Reset All</a
    >
    <button type="submit" class="form__group--buttons-submit">Continue</button>
  </div>
</form>
