div {
    position: relative;
    margin: 1.2rem 1.2rem;
    width: 300px;
    padding: 0 0 .5rem 0;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    color: #333333;
    font-size: 1.2rem;
}