.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    height: 100vh;
    width: 95vw;
    grid-template-rows: 20vh 2fr;
    


    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 160px 2fr;
        grid-template-rows: 1fr 1fr;
        width: 1000px;
        height: 95vh;
    }

    .slider {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 20vh;
        display: block;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        position: relative;
        z-index: 1;
        @media screen and (min-width: 700px){
            grid-column: 1/2;
            grid-row: 1 / 3;
            height: 100%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: block;
            position: relative;
            z-index: 1;
        }

        background-color: #48a5ea;

        &-app {
            background-color: #48a5ea;
            width: 100%;
            height: 100%;
            display: block;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            position: relative;
            z-index: 2;
        }

    }
    


    .form {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: #fff;
        position: relative;
        display: block;
        box-sizing: border-box;
        @media screen and (min-width: 700px){
            grid-column: 2/3;
            grid-row: 1/3;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .modal {
        display: block;
        opacity: 1;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);

        &__content {
            background-color: #fff;
            margin: 20% auto;
            width: 50vw;
            box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            &--header {
                font-size: 1.6rem;
                position: relative;
                background-color: #48a5ea;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                p {
                    text-align: center;
                    color: #fff;
                }

                span {
                    position: absolute;
                    top: 0;
                    right: 2%;
                    color: #fff;
                    transition: .4s all ease;

                    &:hover {
                        color: #000000;
                        cursor: pointer;
                    }
                }
            }

            &--text {
                width: 100%;
                padding: 1rem;

                p {
                    color: #000;
                    font-size: 1.4rem;
                }
            }

            &--button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    margin-bottom: .5rem;
                    background-color: #48a5ea;
                    height: 3rem;
                    width: 7rem;
                    color: #fff;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1rem;
                    border-radius: 5rem;
                    cursor: pointer;
                    transition: all .5s ease;
                    padding: 0;
                    border: none;
                    outline: none;

                    &:hover {
                        transform: scale(1.02);
                        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, .3);
                    }
    
                    &:active {
                        transform: scale(0.95);
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

